<div class="example">
  <h1>GSAP Example</h1>
  <p>npm install --save gsap &#64;types/gsap</p>
  <div class="spacer"></div>

  <p>No Scrub: plays animation once</p>
  <div class="box" #noScrub></div>

  <p>Scrub: animates with scroll</p>
  <div class="box" #scrub></div>

</div>

<p style="margin-left:20px; margin-top: 200px;">Can also set the animation of a child based on the parent's bounding rectangle</p>
<div class="parent" #parent>
  <div class="box" #child></div>
</div>

<p style="margin-left:20px; margin: 200px 0px;">Sticky scroll</p>
<p class="sticky-child" #stickyChild>
  This is example text, as you scroll this sentence will be stuck to the middle of the screen and the rest of the screen will dim. Check out the code to see how this is implemented and works.
</p>